@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
//Mixin - Start
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
//Mixin - End
//Variables  - Start
$accent: #359381;
$accent-dark: #065647;
$white: #f9f9f9;
$white-dark: #e1e1e1;
$dark: #003329;
//Variables - End

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
}

body {
  background: $white;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  padding: 20px 40px;
  margin: 0 auto;
}

img {
  width: 68%;
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

.btn {
  background-color: transparent;
  border: none;
  color: $white;
  text-decoration: none;

  &-primary {
    background-color: $accent !important;
    padding: 10px 28px;
    border-radius: 20px;
  }
}

.text-center {
  text-align: center;
}

div[class*="__image"] {
  margin: 0 auto;
  max-width: 80%;
  min-height: 460px;
}

// General - End
//Header - Start
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__wrap {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 10px;
  }
  &__logo a {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: $accent;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  &__item {
    background: $white;
    padding: 6px 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 1s ease;

    &:hover,
    &.active {
      background: $accent;
      a {
        color: $white;
      }
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: $accent;
      font-weight: 600;
    }
  }
}
// Header - End
// Parallax - Start
.parallax {
  position: relative;
  overflow: hidden;

  &__wrap {
    @include flex-row();
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    font-size: 5em;
    color: $white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  #plant {
    z-index: 200;
    object-fit: cover;
  }
}
// Parallax - End
//Features - Start
.features {
  padding: 20px 0;
  background-color: $dark;
  color: $white;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__list {
    @include flex-row();
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    max-width: calc(100% / 3);
    svg {
      fill: $white;
      width: 80px;
    }
  }
}
//Features - End
//About - Start
.about {
  background: $accent-dark;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  &__wrap {
    position: relative;
    z-index: 2;
  }
  h2 {
    text-align: center;
    color: $white;
    margin-bottom: 40px;
  }
  p {
    text-align: center;
    color: $white-dark;
    margin-bottom: 10px;
  }
  &__image {
    background-image: url("../images/flower.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__button {
    margin-top: 40px;
  }
}
//About - End
//Footer - Start
.footer {
  background-color: $dark;

  &__wrap {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
    a {
      margin-right: 20px;
      align-self: center;
      padding: 2px;

      svg {
        fill: $white;
        width: 34px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
          color: $dark;
        }
      }
    }
  }
  &__copyright {
    p {
      color: $white;
      font-size: 16px;
    }
  }
}
// Footer - End
//Media Queries - Start
@media screen and (max-width: 690px) {
  .btn {
    font-size: 24px;
  }
  div[class*="__image"] {
    max-width: 100%;
    min-height: 360px;
  }
  .header {
    &__burger {
      display: block;
      // background-color: $accent;
      width: 30px;
      height: 20px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 100%;
        min-height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $accent;
        transition: all 0.5s ease;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        min-height: 3px;
        background-color: $accent;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.5s ease;
      }
      span {
        display: block;
        width: 100%;
        min-height: 3px;
        position: absolute;
        background-color: $accent;
        left: 0;
        top: 8.5px;
        transition: all 0.5s ease;
      }
      &.active {
        span {
          display: none;
          // transition: all 0.5s ease;
        }
        &::before {
          transform: rotate(45deg) scale(1);
          top: 9px;
          // transition: all 0.5s ease;
        }
        &::after {
          transform: rotate(-45deg) scale(1);
          bottom: 9px;
          // transition: all 0.5s ease;
        }
      }
    }
    &__menu {
      position: fixed;
      top: 150%;
      left: 0;
      display: block;
      width: 100%;
      height: 100vh;
      z-index: -1;
      background-color: $accent-dark;
      transition: all 0.6s ease 1;
      margin-top: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding: 30px 20px;
      transition: all 0.5s ease;

      &.active {
        top: 80px;
      }
    }
    &__item {
      margin-top: 10px;
      padding: 10px 10px;
    }
  }
  .features {
    &__list {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    &__item {
      max-width: 80%;
    }
  }
  .footer {
    &__wrap {
      flex-direction: column;
    }
  }
}
