@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
//Mixin - Start
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
//Mixin - End
//Variables  - Start
$accent: #359381;
$accent-dark: #065647;
$white: #f9f9f9;
$text-color: #359381;
$dark: #003329;
//Variables - End

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
}

body {
  background: $white;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  padding: 20px 40px;
  margin: 0 auto;
}

img {
  width: 68%;
  display: block;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  border: none;
  color: $white;
  text-decoration: none;

  &-primary {
    background-color: $accent !important;
    padding: 10px 28px;
    border-radius: 20px;
  }
}

.text-center {
  text-align: center;
}
// General - End
//Header - Start
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__wrap {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 10px;
  }
  &__logo a {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: $text-color;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  &__item {
    background: $white;
    padding: 6px 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &:hover,
    &.active {
      background: $accent;
      a {
        color: $white;
      }
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: $text-color;
      font-weight: 600;
    }
  }
}
// Header - End
// Parallax - Start
.parallax {
  position: relative;
  overflow: hidden;

  &__wrap {
    @include flex-row();
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    font-size: 5em;
    color: $white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  #plant {
    z-index: 200;
    object-fit: cover;
  }
}
// Parallax - End
//Features - Start
.features {
  padding: 20px 0;
  background-color: $dark;
  color: $white;

  &__title {
    text-align: center;
    font-size: 40px;
  }
  &__list {
    @include flex-row();
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    svg {
      fill: $white;
      width: 80px;
    }
  }
}
//Features - End
// Info - Start
.info {
  background: $accent-dark;
  padding-bottom: 20px;

  h2 {
    text-align: center;
    color: $white;
    font-size: 2em;
    margin-bottom: 40px;
  }
  p {
    color: $text-color;
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  &__button {
    margin-top: 40px;
  }
}
// Info - End
// Footer - Start
.footer {
  background-color: $dark;

  &__wrap {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
    a {
      margin-right: 20px;
      align-self: center;
      padding: 2px;

      svg {
        fill: $white;
        width: 34px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
          color: $dark;
        }
      }
    }
  }
  &__copyright {
    p {
      color: $white;
      font-size: 16px;
    }
  }
}
// Footer - End
//Media Queries - Start
@media screen and (max-width: 670px) {
  .header {
    &__burger {
      display: block;
      background-color: $accent;
      width: 30px;
      z-index: 1000;
      height: 30px;
      position: relative;

      &::before {
        top: 0;
        display: block;
        content: "";
        background-color: $white;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all 0.5s ease;
      }
      &::after {
        content: "";
        background-color: $white;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all 0.5s ease;
        bottom: 0;
      }
      span {
        position: absolute;
        background-color: $white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.5s ease;
      }
      &.active {
        span {
          display: none;
          transition: all 0.5s ease;
        }
        &::before {
          transform: rotate(45deg) scale(1);
          top: 9px;
          transition: all 0.5s ease;
        }
        &::after {
          transform: rotate(-45deg) scale(1);
          bottom: 9px;
          transition: all 0.5s ease;
        }
      }
    }
    &__menu {
      display: block;
      position: fixed;
      top: 150%;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      background-color: $accent-dark;
      transition: all 0.6s ease 1;
      margin-top: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding: 30px 20px;

      &.active {
        top: 80px;
      }
    }
    &__item {
      padding: 10px 10px;
    }
  }
}
